<ion-header>
  <ion-toolbar color="default"> 
    <ion-buttons slot="start">
      <ion-back-button color="success"></ion-back-button>
    </ion-buttons>
    <ion-chip slot="end" color="success">Edit Card</ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content color="default">
  <ion-card color="default">
    <ion-item color="default">{{name}}</ion-item>
    <ion-card-content>
      <ion-input  position="floating" [(ngModel)]="CardNumber"></ion-input>
      <ion-button color="success" shape="round"  expand="block" (click)="edit()"><ion-icon name="create-outline"></ion-icon>Update</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
