<ion-header>
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-back-button color="success"></ion-back-button>
    </ion-buttons>
    <ion-chip slot="end" style="font-weight: bold;" color="success">Choose Store</ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content color="default">
  <div *ngFor="let merch of merchants; let i = index; let even = even" >
    <ion-grid>
      <ion-row *ngIf="even">
        <ion-col size="6" *ngIf="merchants[i]">
          <ion-card color="default" (click)="addCard(merchants[i].Name,merchants[i].Website,merchants[i].ImagePath)">
            <ion-card-title>
              <ion-img style="width: 100%;height: 100px;" [src]="merchants[i].ImagePath"></ion-img>
            </ion-card-title>
            <ion-card-content>
              {{merchants[i].Name}}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" *ngIf="merchants[i+1]">
          <ion-card color="default" (click)="addCard(merchants[i+1].Name,merchants[i+1].Website,merchants[i+1].ImagePath)">
            <ion-card-title>
              <ion-img style="width: 100%;height: 100px;" [src]="merchants[i+1].ImagePath"></ion-img>
            </ion-card-title>
            <ion-card-content>
              {{merchants[i + 1].Name}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
