<ion-header>
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-back-button color="success"></ion-back-button>
    </ion-buttons>
    <ion-chip slot="end" color="success">CardIt | LogIn</ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content color="default">
  <ion-card colr="default">
    <ion-card-content>
      <ion-input position="floating" placeholder="Email" [(ngModel)]="email"></ion-input>
      <ion-input type="password" position="floating" placeholder="Password" [(ngModel)]="password"></ion-input>
      <ion-button color="success" size="small"  expand="full" (click)="LogIn()"><p style="zoom:1.4">log In </p></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
